* {
    padding: 0;
    margin: 0;
    font-family: Monntserrat, sans-serif;
}

#search-bar {
    margin-top: 50px;
    width: 250px;
    height: 32px;
    border: 2px solid #6c757d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #dee2e6;
    border-right: none;
}

input[type="text"]{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

input[placeholder] {
    text-align: center;
}

#search-btn {
    position: relative;
    bottom: 2px;
    margin-left: -5px;
    height: 36px;
    width: 30px;
    border: 2px solid #6c757d;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    cursor: pointer;
}

i {
    color: #6c757d;
}