* {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #bdbebf;
}

i {
    font-family: Montserrat, sans-serif;
}

#search-bar {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 250px;
    height: 30px;
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:white;
    border-right: none;
}

input[type="text"]{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}


#search-btn {
    position: relative;
    background-color: white;
    bottom: 1.5px;
    margin-left: -5px;
    height: 34px;
    width: 30px;
    border: 2px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    cursor: pointer;
}

#search-icon {
    color: #6c757d;
    background-color: white;
}

.city-name {
    margin: auto;
    width: 80%;
    text-align: center;  
}

#city {
    font-size: 60px;
    color: #212529;
}

#date {
    font-size: 20px;
    color: #6c757d;
}

.today p {
    position: relative;
    bottom: 8em;
    left: 50%;
    width: 200px;
    text-align: left;
    font-size: 20px;
    color: #6c757d;
    margin-top: 10px;
}

.today img {
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-left: -20em;
}


.days {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.days img {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.days div {
    font-size: 18px;
}

.days p {
    color: #6c757d;
    text-align: center;
}

.days h4 {
    color: #6c757d;
}

.safe {
    background-color: #b7e4c7;
    border-radius: 5px;
}

.concern {
    background-color: #ffba08;
    border-radius: 5px;
}

.danger {
    color: white !important;
    background-color: #c52233;
    border-radius: 5px;
}

#history-btn {
    color: #6c757d;
    border: 1px solid #bdbebf;
    border-radius: 15px;
    width: 150px;
    font-size: 20px;
}

#history-btn:hover {
    cursor: pointer;
    background-color: #6c757d;
    color: white;
}